<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>greyd</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao0ea49841c33af4cd5f5ea4bb0647e681</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb586421891929952</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.939266442600-udk57kphnsj877ifn7cj4i5agd2m462p</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>greyd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>greyd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.arbaim.greyd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>FacebookAppID</key>
	<string>586421891929952</string>
	<key>FacebookClientToken</key>
	<string>25685fcd6524d01964421421614c2e2e</string>
	<key>FacebookDisplayName</key>
	<string>greyd</string>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<string>NO</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>0ea49841c33af4cd5f5ea4bb0647e681</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakaotalk-5.9.7</string>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
		<string>kakao0ea49841c33af4cd5f5ea4bb0647e681</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>New item</key>
			<string>localhost</string>
			<key>codepush.appcenter.ms</key>
			<string></string>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>You need to give an authority to access camera to upload your review contents</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>You need to give an authority to access documents folder to add image/video output of uploading review or product contents</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Requires the Geolocation permission (Always or while using the app)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires the Geolocation permission (always receives geolocation)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>You need to give an authority to access microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>You need to give an authority to access gallery to select image/video for uploading review or product contents</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You need to give an authority to access gallery to select image/video for uploading review or product contents</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized reviews to you</string>
	<key>RCTNewArchEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/AntDesign.ttf</string>
		<string>fonts/Entypo.ttf</string>
		<string>fonts/EvilIcons.ttf</string>
		<string>fonts/Feather.ttf</string>
		<string>fonts/FontAwesome.ttf</string>
		<string>fonts/FontAwesome5_Brands.ttf</string>
		<string>fonts/FontAwesome5_Regular.ttf</string>
		<string>fonts/FontAwesome5_Solid.ttf</string>
		<string>fonts/FontAwesome6_Brands.ttf</string>
		<string>fonts/FontAwesome6_Regular.ttf</string>
		<string>fonts/FontAwesome6_Solid.ttf</string>
		<string>fonts/Foundation.ttf</string>
		<string>fonts/Ionicons.ttf</string>
		<string>fonts/MaterialIcons.ttf</string>
		<string>fonts/MaterialCommunityIcons.ttf</string>
		<string>fonts/SimpleLineIcons.ttf</string>
		<string>fonts/Octicons.ttf</string>
		<string>fonts/Zocial.ttf</string>
		<string>fonts/Fontisto.ttf</string>
		<string>fonts/SUIT-Bold.otf</string>
		<string>fonts/SUIT-ExtraBold.otf</string>
		<string>fonts/SUIT-ExtraLight.otf</string>
		<string>fonts/SUIT-Heavy.otf</string>
		<string>fonts/SUIT-Light.otf</string>
		<string>fonts/SUIT-Medium.otf</string>
		<string>fonts/SUIT-Regular.otf</string>
		<string>fonts/SUIT-SemiBold.otf</string>
		<string>fonts/SUIT-Thin.otf</string>
		<string>fonts/SCDream1.otf</string>
		<string>fonts/SCDream2.otf</string>
		<string>fonts/SCDream3.otf</string>
		<string>fonts/SCDream4.otf</string>
		<string>fonts/SCDream5.otf</string>
		<string>fonts/SCDream6.otf</string>
		<string>fonts/SCDream7.otf</string>
		<string>fonts/SCDream8.otf</string>
		<string>fonts/SCDream9.otf</string>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
