<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>939266442600-udk57kphnsj877ifn7cj4i5agd2m462p.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.939266442600-udk57kphnsj877ifn7cj4i5agd2m462p</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>939266442600-r5ider39e86cfkv2icurtoi6ug24qqrp.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyDn4JardIQs9eAaIys6fuZjI5XTB-JtrQE</string>
    <key>GCM_SENDER_ID</key>
    <string>939266442600</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.arbaim.greyd</string>
    <key>PROJECT_ID</key>
    <string>greyd-8ff84</string>
    <key>STORAGE_BUCKET</key>
    <string>greyd-8ff84.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:939266442600:ios:10d712fd472d8878e442dd</string>
    <key>DATABASE_URL</key>
    <string>https://greyd-8ff84.firebaseio.com</string>
</dict>
</plist>
